snippet da 
	`strftime("%d.%m.%Y")`
snippet dda
	`strftime("%d. %B %Y")`
snippet ph
	Philipp
snippet me
	`g:snips_author`
snippet Sehr
	Sehr geehrte Damen und Herren,

snippet mfg
	Mit freundlichen Grüßen,

snippet lg
	Liebe Grüße,

