# german mail stuff
snippet sehr "" b
Sehr geehrte Damen und Herren,

endsnippet
snippet mfg "" b
Mit freundlichen Grüßen,
Philipp Millar

endsnippet
snippet lg "" b
Liebe Grüße,
Philipp

endsnippet
snippet gg "" b
Gruß,
Philipp

endsnippet
snippet bg
Beste Grüße,
Philipp

endsnippet

snippet bgf
Beste Grüße,
Philipp Millar

endsnippet
